/* Global styles */
body {
    font-family: 'Amiri', serif;
    background-color: #f5f5f5;
    background-image: url("https://raw.githubusercontent.com/AhmadRezk/prayer-counter/main/background.jpeg");
    background-size: 600px 400px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
/* Main container styling */
.container {
    max-width: 540px;
    background-image: url("https://raw.githubusercontent.com/AhmadRezk/prayer-counter/main/Light%20mode.png");
    background-size: contain;
    padding: 32px;
    position: relative;
    aspect-ratio: 1080 / 1920;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* Add more styles for buttons, inputs, and other elements based on your provided inline styles */
